/*
	Blue: #
*/

@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
	box-sizing: border-box;
/*
	  changes width property
 to total width instead of content width
*/
}


article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
	display: block;
	/* just in case we have
any older browsers that don't recognize
the HTML5 semantic elements */
	background-color: white;
}

img {
	width:20%;
}

body {
/*
	border-style: solid;
	border-width: large;
	border-top-width: thin;
*/
	background-image: url(/acme/images/site/background.jpg);
	background-color: white;
/*
	border-top: 0;
	font-size: 20px;
	margin: 10px;
	margin-top: 0;
*/
}

section header {
	font-size: 20px;
	font-weight: 200;
}

main {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

nav ul {
	display: flex;
	padding: 0px;
	list-style-type: none;
	color: white;
	text-decoration: none;
	justify-content: space-around;
	/* Create flexbox, remove padding for list items, and remove bullets */
}

nav {
	position: relative;
	line-height: 50px;
	left: 0;
	right: 0;
	justify-content: space-around;
	font-size: 20px;
	background-color: #de2226;
	/* Make the position of the nav bar fixed, specify line height, stretch to width of viewport, and justify links content for even spacing */
}

#homeContent {
	display: flex/*none once you have JS*/;
	flex-flow: column;
	align-content: flex-end;
}

#hero {
	display: flex;
	flex-flow: column;
/*	should it be column-reverse?  That might make it so that the elements are on the other side of the container*/
	align-content: flex-end;
	justify-content: flex-end;
	background-image: url(/acme/images/site/feature.jpg);
	background-size: cover;
	list-style-type: none;
	
}

#features {
	list-style-type: none;
	text-decoration-color: red;
	display: flex;
	flex-flow: column nowrap;
	align-content: flex-end;
}

h1 {
	margin-top: 100px;
}

footer {
	border-top: 10px black solid;
	margin-left: .5%;
/*
	border-top-color: black;
	border-top-style: dotted
*/
}

small p {
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 44em) {
	
}